html {
    background-color: black;
}

.backsideCard {
	background-image: radial-gradient(darkred 0%, tomato 100%);
	border-radius: 10px;
	border: solid;
	border-width: 1px;
	border-color: gray;
}

#cards-section {
    margin-top: 10%;
    margin-left: 20%;
}

table {
    padding: 5px;
    border: 1px transparent;
    user-select: none;
}

tr {
    user-select: none;
}

td {
    border: 1px transparent;
    padding: 25px;
    caret-color: transparent;
    user-select: none;
    -moz-user-select: none;
	width: 150px;
	height: 200px;
}

td > div {
    cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    user-select: none;
    -moz-user-select: none;
}

td * {
	width: 150px;
	height: 200px;
}
