body {
	flex-direction: column;
	justify-content: space-between;
}

#info-section {
	position: absolute;
	padding-top: 0px;
}

footer {
	display: none;
}

#logo {
}

#intro-header {
	position: absolute;
	display: block;
	font-size: 15px;
	text-align: center;
	top: 12vh;
}

#intro-text {
	font-size: 13px;
	align-self: center;
	top: 19vh;
}

#card-name {
	font-size: 25px;
	margin-bottom: 0px;
}

#card-image {
	width: 30vw;
	height: 33vh;
}

#cards-section {
	width: 100%;
	margin-top: 40vh;
}

#table-wrapper {
	width: 80%;
	display: flex;
	justify-content: center;
}

td {
	padding: 5px;
	width: 70px;
	height: 100px;
}
td * {
	width: 70px;
	height: 100px;
}
